<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileMultiplier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FileMultiplier.Properties.Settings>
            <setting name="SourceFolderPath" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Receiver_1" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Receiver_2" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Receiver_3" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Receiver_4" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Receiver_5" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Receiver_6" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="Receiver_7" serializeAs="String">
                <value>empty</value>
            </setting>
            <setting name="XAU_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XAU_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XAU_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XAU_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XAU_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XAU_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XAU_7" serializeAs="String">
                <value>False</value>
            </setting>
        </FileMultiplier.Properties.Settings>
    </userSettings>
</configuration>